.title{
    text-align: center;
    color: white;
    font-weight: 100;
    line-height: 50px;
}

.section-top{
    margin: 0 0 200px -100px;

}
.description{
    margin: 0 0 00px 50px;

}
.button{
    margin: 0 0 100px 600px;

}

.last{
    margin: 0 0 700px 000px

}