<footer class="footer">
    <div class="container">
        <div class="text">
            <h6>Россия ,г.Санкт-Петербург ул.Вавилова, 19</h6>
            <h6>© 2017—2020 ПАО Pegasus Invest.</h6>
            <h6>------------------------------------------------------------------------------------</h6>
            <h6>Информация о процентных ставках по договорам банковского вклада с физическими лицами</h6>
            <h6>Информация, обязательная к размещению</h6>
            <h6>Раскрытие информации о банке как о профессиональном участнике рынка ценных бумаг</h6>
        </div>
    </div>
</footer>